/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-3-21, 11:04:48
    Author     : PVer
*/

td{ white-space: nowrap;}

.tb_view{
    margin-left: 54px;
}
.tb_view .search_box{
    width: 149px;
    height: 26px;
    line-height: 20px;
    color: rgba(176, 176, 176, 1);
    font-size: 12px;
    text-align: left;
    font-family: Roboto;
    border: 1px solid rgba(187, 187, 187, 1);
    border-radius:5px;
}
.tb_view .btn_search{
    min-width: 40px;
    height: 26px;
    border-radius: 4px;
    background-color: rgba(22, 179, 152, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    text-align: center;
    font-family: Microsoft Yahei;
    border: 1px solid rgba(22, 179, 152, 1);
    font-family: Microsoft Yahei;
    border-radius:5px;
}
.tb_view .add_new{
    width: 80px;
    margin-left: 40px;
    height: 26px;
    border-radius: 4px;
    background-color: rgba(255, 152, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    text-align: center;
    font-family: Microsoft Yahei;
    border: 1px solid rgba(255, 152, 0, 1);
}
.tb_view .delete{
    width: 80px;
    height: 26px;
    border-radius: 4px;
    background-color: rgba(229, 28, 35, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    text-align: center;
    font-family: Microsoft Yahei;
    border: 1px solid rgba(229, 28, 35, 1);
}
.interval{
    margin-left: 10px;
}