/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-4-19, 13:42:58
    Author     : PVer
*/
body{font-size: 12px;font-family: "宋体","微软雅黑";}  
ul,li{list-style: none;}  
a:link,a:visited{text-decoration: none;color: #fff;}  
.list{width: 250px;float: left;}  

.list ul li{background-color: rgba(248, 248, 248, 1);border:solid 1px #A3A3A3; border-bottom:0;box-shadow: 0px 0px 2px 0px rgba(71, 71, 71, 1);}  
.list ul li a{padding-left: 10px;color: rgba(63, 78, 92, 1);
              font-size: 15px;
              width: 235px;
              text-align: left; display: block; font-weight:bold; height:36px;line-height: 36px;position: relative;  
}  
.list ul li .inactive{ background:url(images/off.png) no-repeat 184px center;}  
.list ul li .inactives{background:url(images/on.png) no-repeat 184px center;}   
.list ul li ul{display: none;}  
.list ul li ul li { border-left:0; border-right:0; background-color: rgba(248, 248, 248, 1); border-color:#C1C1C1;box-shadow: 0px 0px 2px 0px rgba(71, 71, 71, 1);}  
.list ul li ul li .inactive{ background:url(images/off.png) no-repeat 164px center;}  
.list ul li ul li .inactives{background:url(images/on.png) no-repeat 164px center;} 
.list ul li ul li ul{display: none;}  
.list ul li ul li a{ padding-left:10px;}  
.list ul li ul li ul li { background-color:#d6e6f1; border-color:rgba(230, 230, 230, 1); }  
.last{ background-color:#d6e6f1; border-color:#3F4E5C; }  
.list ul li ul li ul li a{ color:#316a91; padding-left:30px;}  
/*
* 右侧容器
*/
.s-menu-gurd{
    margin-top: 10px;
    border-bottom: 2px solid #9C9C9C;
    height: 39px;
}
.s-ctner-menus {
    /*    position: relative;
        left:250px;*/
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
    height: 39px;
    line-height: 39px;
    background: #ffffff;
}
.s-menu-item {
    color: #000000;
    width: 100px;
    height: 39px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
}
.s-menu-item:hover {
    height: 37px;
    font-weight:bold;
    color:#000000;
/*    border-top: 2px solid #9C9C9C;
    border-left: 2px solid #9C9C9C;
    border-right: 2px solid #9C9C9C;
    border-bottom: 2px solid #ffffff;*/
}
.selected{
    height: 37px;
    font-weight:bold; 
    color:#000000;
    border-top: 2px solid #9C9C9C;
    border-left: 2px solid #9C9C9C;
    border-right: 2px solid #9C9C9C;
    border-bottom: 2px solid #ffffff;
}