/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-3-28, 15:00:50
    Author     : PVer
*/
.tb_set_left{
    margin-top: 60px;
    padding-top: 60px;
    text-align: left;
    font-size: 16px;
}
.depart_text{
    width: 180px;
    height: 30px;
    line-height: 30px;
    color: rgba(16, 16, 16, 1);
    font-size: 14px;
    text-align: left;
    font-family: Roboto;
    border: 1px solid rgba(187, 187, 187, 1);
}
