<!DOCTYPE html>
<link rel="stylesheet" href="{{url}}css/common.css" type="text/css" />
<div class="main_div_main">
    <div class="comm_menu">
        <div class="menu_content_view">
            <img class="icon_img" src="../../image/fun_img.png"/>
            <div class="comm_menu_text">待办事项</div></div>
    </div>
    <div class="fun_view">
        <a class="inactive active" href="javascript:;" onclick="toPage('../../modules/market/examCustomer.php')" ><text  class="comm_text">客户信息审核</text></a>
        <a class="inactive active" href="javascript:;" onclick="toPage('../../modules/project/allProject.php?pagetype=audit')" ><text  class="comm_text">项目审批</text></a>
        <a class="inactive active" href="javascript:;" onclick="toPage('../../modules/finance/allReim.php?pagetype=audit')" ><text  class="comm_text">报销审批</text></a>
        <a class="inactive active" href="javascript:;" onclick="toPage('../../modules/cert/allCertRemind.php')" ><text  class="comm_text">证书到期提醒</text></a>
    </div>
    <div class="comm_menu">
        <div class="menu_content_view">
            <img class="icon_img" src="../../image/notice.png"/>
            <div class="comm_menu_text">公告栏</div></div>
    </div>
    <div class="notice_view">

    </div>
</div>
