{% for item in menulist %}
{% if item.MenuParentId==0 %}
<li><a href="#" href="#" class="inactive active">{{item.Name}}</a>
    <ul>  
        {% for item_item in menulist %}
        {% if item_item.MenuParentId !=0 and item_item.MenuParentId==item.Id %}
        <li onclick="toPage({{item_item.Id}})"><a href="#" >{{item_item.Name}}</a>
            <b class="arrow fa fa-angle-right normal"></b>
        </li>  


        {% endif%}
        {% endfor %}  
    </ul>  
</li>  
{% endif%}
{% endfor %}
