<tr>
    <th class="th_title">选择</th>
    <th class="th_title">序号</th>
    <th class="th_title" style="width: 800px;">业务类别</th>
    <th class="th_title">操作</th>
</tr>
{% for item in project_list %}
<tr>
    <td><check type="checkbox"/></td>
<td>{{item.Id}}</td>
<th>{{item.BusTypeName}}</th>
<td>
    <input type="button" class="caozuo_1" onclick="toSubPage('../../modules/project/setBusType.php', '类别管理', 2, 'modify','{{item.Id}}')"   value="修改"/>
    <input type="button" class="caozuo_3"  onclick="deleteThis({{item.Id}})" value="删除"/></td>
</tr>
{% endfor %}



