<link rel="stylesheet" href="{{url}}css/allstudent.css" type="text/css" />
<script src="{{url}}js/jquery.validate.min.js" type="text/javascript"></script>
<script src="{{url}}js/projects/allstudent.js" type="text/javascript"></script>
<div id="main_page">
    <div>
        <input type="text" id="pagetype" name="pagetype" hidden="hidden" value="{{pagetype}}"/>
        <div>
            <table class="tb_view">
                <tr>  
                    <td width="80%"> 
                        <select class="select" name="work_class" id="work_class">
                            <option class="select" value="0" >项目编号</option>
                            <option class="select" value="1" >项目名称</option>
                            <option class="select" value="2" >培训类型</option>
                            <option class="select" value="2" >是否开票</option>
                        </select>
                        <input type="text" class="search_box interval" placeholder="请输入搜索内容" id="search" name="search"/>
                        <input type="button" class="btn_search" value="搜索"/></td>
                    {% if pagetype=='audit' %}
                    {% else %}
                    <td>
                        <input type="button" class="export_excel userrole" value="导入信息"/>
                    </td>  
                    <td>
                        <input type="button" class="add_new" onclick="toPage(106)"  value="添加学员"/>
                        <input type="button" class="delete interval" value="批量删除"/>
                    </td>   
                    {% endif %}

                </tr>
            </table>
            <table id="list">

            </table>
        </div>
    </div>
</div>

<div id="sub_page"></div>