<?xml version="1.0" encoding="UTF-8"?>
<style>
    .error{
        color:red;
    }
</style>
<div>
    <div>
        <iframe name="myiframe" style="display:none;" onload="iframeLoad(this);"></iframe>
        <form action="../../modules/project/action/actionProject.php" method="post"
              enctype='multipart/form-data' target="myiframe" id="commentForm" >
            <div class="set_content_tb" >
                <table class="tb_set" >
                    <tr>
                        <td>项目年份</td>
                        <td class="td_left"><input {{readonly}}  id="project_year" name="project_year" class="input_text" type="text" value="{{info.ProjectYear}}" required></td >
                    </tr>
                    <tr>
                        <td>项目编号</td>
                        <td  class="td_left"><input {{readonly}}  id="project_code" name="project_code" class="input_text" type="text" value="{{info.ProjectCode}}" required></td>
                    </tr>
                    <tr>
                        <td>批次</td>
                        <td  class="td_left"><input {{readonly}}  id="project_batch" name="project_batch" class="input_text" type="text" value="{{info.ProjectBatch}}" required></td>
                    </tr>
                    <tr>
                        <td>项目分类</td>
                        <td  class="td_left"> <input {{readonly}}  id="project_type" name="project_type" class="input_text" type="text" value="{{info.ProjectType}}" required></td>
                    </tr>
                    <tr>
                        <td>培训科目</td>
                        <td  class="td_left"><input {{readonly}}  id="sub_training" name="sub_training" class="input_text"  value="{{info.SubTraining}}"  type="text" required></td>
                    </tr>
                    <tr>
                        <td>培训类别</td>
                        <td  class="td_left"><input {{readonly}}  id="sub_type" name="sub_type" class="input_text"  value="{{info.SubType}}"  type="text" required></td>
                    </tr>
                    <tr>
                        <td>业务类别</td>
                        <td  class="td_left">
                            <select {{readonly}} class="select userrole" name="bus_type" id="bus_type">
                                {% for item in bustype %}
                                <option class="select" value="{{item.Id}}" >{{item.BusTypeName}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>立项日期</td>
                        <td  class="td_left"> 
                            <input {% if info.ProjectDate %}value="{{info.ProjectDate}}"{% else %} value="{{"now"|date("Y-m-d")}}"{% endif %}   id="project_date" name="project_date" class="input_text" type="text" ></td>
                    </tr>
                    <tr>
                        <td>计划人数</td>
                        <td  class="td_left"><input {{readonly}}  id="plan_num" name="plan_num" class="input_text" value="{{info.PlanNum}}" type="text" required></td>
                    </tr>
                    <tr>
                        <td>计划项目金额</td>
                        <td  class="td_left"><input {{readonly}}  id="plan_amount" name="plan_amount" class="input_text" value="{{info.PlanAmount}}" type="text" required></td>
                    </tr>
                    {% if pagetype=='audit' %}
                    <tr>
                        <td>收费方式</td>
                        <td  class="td_left"><input {{readonly}}  id="charge_mode" name="charge_mode" class="input_text" value="{{info.ChargeMode}}" type="text" required></td>
                    </tr>
                    <tr>
                        <td>项目负责人</td>
                        <td  class="td_left"><input {{readonly}}  id="project_leader" name="project_leader" class="input_text" value="{{info.ProjectLeader}}" type="text" required></td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>立项人</td>
                        <td  class="td_left"><input {{readonly}}  id="project_person" name="project_person" class="input_text" value="{{info.ProjectPerson}}" type="text" required></td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>项目说明</td>
                        <td  class="td_left">
                            <textarea {{readonly}} id="project_desc" name="project_desc"  class="input_textarea" type="text">{{info.ProjectDesc}}</textarea>
                        </td>
                    </tr>
                </table>
                <div class="bottom_button">
                    <input type="text" name="id" hidden="hidden" value="{{info.ProjectId}}"/>
                    {% if pagetype=='audit' %}
                    <input type="submit" name="adopt"  class="comm_button button_save" value="通过审核"/>
                    <input type="button" onclick="RefuseThis({{info.ProjectId}})" id="refuse" name="refuse" class="comm_button button_close" value="拒绝审核"/>
                    {% else %}
                    <input type="submit" name="{{btn}}"  class="comm_button button_save" value="保存"/>
                    {% endif %}
                    <!--                    <input type="reset" name="reset" class="comm_button button_clear" value="清空"/>-->
                    <input type="button" onclick="toPage('../../modules/project/allProject.php?pagetype={{pagetype}}')" name="close" class="comm_button button_close" value="关闭"/>
                </div>
            </div>
        </form>
    </div>
</div>


