<link rel="stylesheet" href="{{url}}css/work.css" type="text/css" />
<script src="{{url}}js/jquery.validate.min.js" type="text/javascript"></script>
<script src="{{url}}js/work/work.js" type="text/javascript"></script>
<div id="main_page">
    <div>
        <input type="text" id="pagetype" name="pagetype" hidden="hidden" value="{{pagetype}}"/>
        <div>
            <table class="tb_view">
                <tr>  
                    <td width="80%"> 
                        <select class="select" name="work_class" id="work_class">
                            <option class="select" value="0" >工作名称</option>
                            <option class="select" value="1" >工作内容</option>
                            <option class="select" value="2" >记录人</option>
                        </select>
                        <input type="text" class="search_box interval" placeholder="请输入搜索内容" id="search" name="search"/>
                        <input type="button" class="btn_search" value="搜索"/></td>
                    <td>
                        <input type="button" class="export_excel userrole" onclick="toExport('all_work_tb')"  value="导出Excel表格"/>
                    </td>  
                    <td>
                        <input type="button" class="add_new" onclick="toPage({% if pagetype=='all'%}98{% elseif pagetype=='my'%}100{% endif %})"  value="添加工作记录"/>
                        <input type="button" class="delete interval" value="批量删除"/>
                    </td>   
                </tr>
            </table>
             <div id="all_work_tb">
                <table id="list">
                </table>
            </div>
        </div>
    </div>
</div>

<div id="sub_page"></div>